[submodule "containers/docker-tva-postgres"]
	path = containers/docker-tva-postgres
	url = ../docker-tva-postgres.git
[submodule "containers/docker-tva-redis"]
	path = containers/docker-tva-redis
	url = ../docker-tva-redis.git
[submodule "containers/docker-tva-results"]
	path = containers/docker-tva-results
	url = ../docker-tva-results.git
[submodule "containers/docker-tva-voting"]
	path = containers/docker-tva-voting
	url = ../docker-tva-voting.git
[submodule "containers/docker-tva-worker"]
	path = containers/docker-tva-worker
	url = ../docker-tva-worker.git
