[submodule "containers/tva-postgres"]
	path = containers/tva-postgres
	url = ../tva-postgres.git
[submodule "containers/tva-redis"]
	path = containers/tva-redis
	url = ../tva-redis.git
[submodule "containers/tva-results"]
	path = containers/tva-results
	url = ../tva-results.git
[submodule "containers/tva-voting"]
	path = containers/tva-voting
	url = ../tva-voting.git
[submodule "containers/tva-worker"]
	path = containers/tva-worker
	url = ../tva-worker.git
